@import url('https://fonts.googleapis.com/css2? family= Permanent+Marker & family= Sedgwick+Ave & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Permanent+Marker & family= Sedgwick+Ave & display=swap');

*{
    margin: 0;
    padding: 0;
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header h1{
    font-family: 'Permanent Marker', cursive;
font-family: 'Sedgwick Ave', cursive;
    padding-top: 30px;
    font-variant: small-caps;
}
@media(min-width:1000px){
    header h1{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
}

@media (max-width:400px){
    header h1{
            font-size: 25px;
    }

    p{
        font-size: 14px;
    }
}
header p{
    padding-bottom: 50px; 

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
     padding-left:  30px; ;
    line-height: 2em;
    padding-top:40px ;
    padding-bottom:40px;
}
#img1{
    background: url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;
}
#img2{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section p{
    padding-bottom: 30px;
}

.normal{

    background-color: white;

}
.imagem{
    background-color: rgb(59, 58, 58);
}
.imagem p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

p{
    font-size: 18px;
 
    font-family: 'Permanent Marker', cursive;
font-family: 'Sedgwick Ave', cursive;
}


